*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-brand{
  margin-bottom: 10px;
}

.movie-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-wrapper{
  background-color: antiquewhite;
  width: 300px;
  color: black;
  border-radius: 10px;
}

.movie-title{
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  font-size: 22px;
}

.movie-image{
  width: 300px;
  height: 300px;
}

.movie-search{
  height: 20px;
  font-size: 24px;
  margin-bottom: 30px;
  padding: 20px;
  width: 350px;
}

.movie-date{
  font-style: italic;
}

.movie-rate{
  color: red;
  margin-bottom: 10px;
}

@media screen and (min-width: 350px) {
  .movie-search{
    height: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
  }
}